In [81]:
#question 1

In [82]:
#     A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [79]:
import numpy  as np

In [78]:
import pandas as pd
df= pd.read_csv("Cutlets.csv")
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 692.0 bytes

In [3]:
df['Unit A'].mean()

7.0190914285714285

In [4]:
df['Unit B'].mean()

6.964297142857142

In [10]:
from scipy.stats import ttest_ind as twosampletest
Zcal,pvalue= twosampletest(df["Unit A"], df["Unit B"])

In [11]:
print("zcalculated value:", Zcal.round(3))
print("pvalue:",pvalue.round(3))

zcalculated value: 0.723
pvalue: 0.472

In [12]:
alpha = 0.05

if pvalue < alpha:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

H1 is rejected and Ho is accepted

In [28]:
#  Ans:   as we can see that Ho: μ1 = μ2 (There is no difference in diameters of cutlets between two units)
# The inference is that there is no significant difference in the diameters of Unit A and Unit B.

In [20]:
# 2nd question

In [22]:
#A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
 # Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [23]:
#Anova Test

In [24]:
# H0= (u1= u2= u3= u4)
# H1= any one of the u is diierent(2 can be or all)

In [25]:
import pandas as pd
df= pd.read_csv("LabTAT.csv")
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [35]:
pd.DataFrame(df)

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [36]:
from scipy.stats import f_oneway

In [37]:
f_statistic, p_value = f_oneway(df['Laboratory 1'], df['Laboratory 2'], df['Laboratory 3'], df['Laboratory 4'])

In [50]:
print("P-value:", p_value)

P-value: 2.1156708949992414e-57

In [52]:
alpha = 0.05
Pvalue= 2.1156708949992414e-57

if Pvalue < alpha:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

Ho is rejected and H1 is accepted

In [53]:
#as we can see that p-value is very less then  o.o5 so. we can sey that there is difference in Tat btw  4 Laboratory

In [54]:
# Question 3

In [55]:
#Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [94]:
import pandas as pd
df= pd.read_csv("BuyerRatio.csv")
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 212.0+ bytes

In [67]:
Y= df.iloc[:,1:5]

In [68]:
Y

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [83]:
import scipy.stats as stats

In [95]:
stats.chi2_contingency([df["East"], df["West"], df["North"], df["South"]])

Chi2ContingencyResult(statistic=1.5959455386610577, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  442.23468701],
       [ 146.81287862, 1518.18712138],
       [ 131.11756787, 1355.88243213],
       [  72.30424052,  747.69575948]]))

In [100]:
alpha = 0.05
Pvalue= 0.6603094907091882

if Pvalue < alpha:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

H1 is rejected and Ho is accepted

In [101]:
#question 4

In [102]:
#TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [105]:
#H0= %of Defective of all countries are same
#H1= at least % of Defective is not equal

In [103]:
import numpy as np
import pandas as pd
df = pd.read_csv('Costomer+OrderForm.csv')

In [104]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [107]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts())

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64 Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64 Malta
Error Free    269
Defective      31
Name: count, dtype: int64 India
Error Free    280
Defective      20
Name: count, dtype: int64

In [108]:
New=([[271,267,269,280],[29,33,31,20]])

In [110]:
New

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [111]:
import scipy.stats as stats

In [112]:
Pvalue= stats.chi2_contingency(New)

In [115]:
Pvalue

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [116]:
alpha = 0.05
Pvalue= 0.2771020991233135
if Pvalue < alpha:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

H1 is rejected and Ho is accepted

In [ ]:
# Hence we can say that % of defective for  all countries is same